<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--    Umożliwienie dostępu do Internetu, np. do korzystania z internetu tj. pobierania danych-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--    Umożliwienie dostępu do informacji o WiFi, możliwość odczytania informacji o wifi w pobliżu-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--    Umożliwienie dostępu do informacji o stanie sieci w urządzeniu, mozna sprawdzic czy urzadzenie jest polaczone z internetem-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--    Umożliwia włączanie lub wyłączanie wifi w urządzeniue lub dokonywanie innych zmian zwiazanych z obsluga wifi-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--    Umożliwia dostęp do dokładnej lokalizaji urządzenia, przyda sie w okresleniu jak daleko jestesmy od wifi-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--    Wymagane aby uzyskac dzialala permisja access_fine_location,  dostep do przyblizonej lokalizacji urzedzenia na podstawie dostepnych sieci telefonicznych
            jest mniej precyzyjne od powyzszej permisji-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WifiSignalStrength"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        Dodanie drugiej aktywności-->
        <activity
            android:name=".HistoryActivity"
            android:label="History Activity"/>
    </application>

</manifest>